:root {
  --theme-color: #000;
  --theme-color-not: #fff;
}

:root {
  --bg: #414141;
  --bg-dark: #232323;
  --bg-hover: #373737;
  --bg-active: #2c2c2c;
}

:root {
  --gradient-1: #037bce;
  --gradient-2: #0378ce;
  --gradient-3: #2251db;
  --gradient-4: #1c3ea4;
}
