:root {
  --theme-color: #000;
  --theme-color-not: #fff;
}

:root {
  --bg: #393939;
  --bg-dark: #232323;
  --bg-hover: #3d3d3d;
  --bg-active: #353535;
}

:root {
  --gradient-1: #037bce;
  --gradient-2: #0378ce;
  --gradient-3: #2251db;
  --gradient-4: #1c3ea4;
}
