.dev_lang {
  border: 1px solid var(--dev-lang-color);
  background-color: transparent;
}

.html {
  --dev-lang-color: var(--html);
}

.css {
  --dev-lang-color: var(--css);
}

.js {
  --dev-lang-color: var(--js);
}

.nodejs {
  --dev-lang-color: var(--nodejs);
}

.reactjs {
  --dev-lang-color: var(--reactjs);
}

.firebase {
  --dev-lang-color: var(--firebase);
}

:root {
  --html: #e34f26;
  --css: #1572b6;
  --js: #f0db4f;
  --nodejs: #339933;
  --reactjs: #61dafb;
  --firebase: #ffca28;
}