.txt_gradient {
  background: linear-gradient(
    238deg,
    var(--gradient-1) 21%,
    var(--gradient-2) 40%,
    var(--gradient-3) 56%,
    var(--gradient-4) 85%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
