.avatar_con {
  width: var(--avatar-size);
  aspect-ratio: 1;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  background: linear-gradient(var(--theme-color-not) -125%, var(--gradient-3));
  isolation: isolate;
  pointer-events: none;

  & img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    opacity: 0;
    animation: opaTo1 1s ease forwards;
  }
}

.avatar_con span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5em;
  font-weight: 600;
  z-index: -1;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 0;
    aspect-ratio: 1;
    background-color: var(--gradient-4);
    z-index: -1;
    animation: disappear 2s 0.1s infinite;
  }

  &::after {
    animation-delay: 0.4s;
  }
}

:root {
  --avatar-size: 200px;
}

.avatar_con:has(img) {
  background: none;
}

.avatar_con:has(img) span {
  &::after,
  &::before {
    animation-play-state: paused;
  }
}

@keyframes disappear {
  to {
    width: var(--avatar-size);
    opacity: 0;
  }
}

@keyframes opaTo1 {
  to {
    opacity: 1;
  }
}
