#root,
#root > .con {
  display: flex;
  justify-content: center;
}

.con {
  flex-direction: column;
}

.body {
  flex: 1;
  max-width: 600px;
}

.devide_half {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--mar-small);
}

.devide_half > * {
  width: 100%;
  display: grid;
  place-items: center;
  color: inherit;
  text-decoration: none;
}

.skills_con {
  display: flex;
  flex-wrap: wrap;
  gap: var(--mar-small);
}